/* 头部区域 */
* {
    padding: 0;
    margin: auto;
    list-style-type: none;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 200px;
}
.header_inf {
    width: 1226px;
    height: 200px;
    position: relative;  
}
.header_logo img {
    width: 200px;
    height: 200px;
    float: left;
}
.header_name img {
    width: 750px;
    height: 200px;
    float: left;
}
.consultation_service {
    float: right;
    background-color: #fff;
    width: 276px;
    height: 200px;
}
.consultation_service img {
    position: absolute;
    left: 950px;
    top: 25px;
}

/* 导航 */

.navigation {
    background: url(images/bg1.gif) #fff;
    height: 35px;
}
.nav {
    width: 1226px;
}

.nav li{
    float: left;
    margin-left: 70px;
}
.nav a {
    background: url(images/menu6.gif) repeat-x left top;
    float: left;
    
    line-height: 35px;
    text-align: center;
    color: #bbbbbb;
    transition: ease-in .3s all;

}
.nav span {
    background: url(images/menu6.gif) repeat-x right top;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    transition: ease-in .3s all;
}
.nav a:hover {
    background-position: left bottom;
    color: #fff;
}
.nav a:hover span {
    background-position: right bottom;
}

/* 主体内容 */
/* 首页模块 */
#main_page {
    background: url(images/robot_race.jpg) no-repeat;
    width: 1400px;
    height: 644px;
    position: relative;
}
.page_text1{
    position: relative;
    top: 200px;
}
.page_text1 p {
    color: white;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-shadow: 0.1em 0.1em 1px black;
}
.page_text2 {
    position: relative;
    top: 260px;
}
.page_text2 p {
    color: white;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0.1em 0.1em 1px black;
}


/* 知识角模块 */
.main_knowledge {
    /* background-color: skyblue; */
    width: 1400px;
    height: 650px;
    margin-top: 10px;
    position: relative;
}
.title {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}
.ppp {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_knowledge li {
    border: solid 1px black;
    width: 300px;
    float: left;
    margin: 10px 20px;

}
.main_knowledge li img{
    background-color: #fff;
    width: 300px;
    height: 200px;
}
   
/* 课程特色 */
.main_course {
    width: 1400px;
    height: 500px;
    /* background: yellow; */
    margin-top: 10px;
}
.main_course img {
    float: left;
    padding-left: 15px;
}
img:nth-child(2) {
     position: relative;
     top: -100px;
}
img:nth-child(3) {
    position: relative;
    top: -10px;
}
img:nth-child(4) {
    position: relative;
    top: -100px;
}


/* 课程体系 */

.main_system {
    width: 1400px;
    height: 500px;
    margin-top: 10px;
    background: blueviolet;
}
.system_title1 {
    position: relative;
    top: -80px;

}
/* 荣誉墙 */

.main_honor {
    width: 1400px;
    height: 500px;
    margin-top: 10px;
    background: orange;
}

.nav_left {
    width: 70px;
    background-color: red;
    position: fixed;
    top: 10%;
    float: left;
}

/* 爱心特效 */
   
.snowfall-flakes:before {
    content: '';
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
    /* top: 100px;
    left: 100px; */
    transform: rotate(-45deg);
    border-radius: 5px 5px 0 0;
}
.snowfall-flakes:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 9px;
    background-color: red;
    width: 10px;
    height: 14px;
    border-radius: 5px 5px 0 0;
    transform: rotate(45deg);
} 
 
